<h1>Restuarants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>

<%= link_to "Add New Restuarant", '/restaurants/new', class: "btn btn-primary" %>
